body {
  background-color: darkgray;
}

.contenedor-principal {
  margin: 0px;
  display: flex;
}

.encabezado {
  margin-top: 40px;
  margin-left: 84px;
}

.contenedor-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 100px;
  margin-left: 50px;
}

.contenedor-botones {
  display: flex;
}

#caja_con_respuesta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 944px;
  background-color: #ffffff;
  box-sizing: border-box;
  text-align: center;
  border-radius: 32px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

#area_de_texto {
  width: 950px;
  height: 200px;
  border-radius: 10px;
  margin-top: 100px;
  margin-right: 100px;
  padding: 10px;
  resize: none;
  background-color: inherit;
}

.imagen_caja_con_respuesta {
  margin-bottom: 35px;
}

.texto_caja_con_respuesta {
  gap: 16px;
}

.contenedor_advertencia_botones {
  width: 522px;
  margin-top: 420px;
  display: flex;
  flex-direction: column;
}

.encriptador_boton {
  width: 328px;
  height: 67px;
  background-color: #0a3871;
  border: none;
  border-radius: 24px;
  color: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
}

.desencriptador_boton {
  width: 328px;
  height: 67px;
  background-color: #d8dfe8;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #0a3871;
  box-sizing: border-box;
  cursor: pointer;
}

.borrar_boton {
  width: 328px;
  height: 67px;
  background-color: #e8d8d8;
  border: 1px solid #710a0a;
  border-radius: 24px;
  color: #710a0a;
  box-sizing: border-box;
  cursor: pointer;
}

.copiar_boton {
  width: 328px;
  height: 67px;
  margin-top: 740px;
  background-color: #d8dfe8;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #0a3871;
  box-sizing: border-box;
  cursor: pointer;
}

.advertencia {
  display: flex;
  gap: 5px;
  width: 328px;
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .contenedor-principal {
    flex-direction: column;
  }

  .encabezado {
    margin-top: 24px;
    margin-left: 16px;
  }

  .imagen_caja_con_respuesta {
    display: none;
  }

  #area_de_texto {
    width: 500px;
  }

  #caja_con_respuesta {
    width: 500px;
    height: auto;
    padding: 15px 10px;
    margin-top: 10px;
    margin-left: 70px;
  }

  .contenedor_advertencia_botones {
    margin-top: 200px;
    align-items: center;
  }

  .contenedor-botones {
    flex-direction: column;
    gap: 6px;
    margin-bottom: 10px;
  }

  .copiar_boton {
    width: 300px;
    margin-top: 150px;
  }
}

@media (max-width: 425px) {
  .contenedor-principal {
    flex-direction: column;
  }
  .encabezado {
    margin-top: 24px;
    margin-left: 16px;
  }

  .contenedor_advertencia_botones {
    margin-top: 200px;
  }

  #area_de_texto {
    width: 300px;
  }

  .contenedor-botones {
    flex-direction: column;
    gap: 6px;
    margin-bottom: 10px;
  }

  .imagen_caja_con_respuesta {
    display: none;
  }

  #caja_con_respuesta {
    width: 327px;
    height: auto;
    padding: 15px 10px;
    margin: 10px 50px;
  }

  .copiar_boton {
    margin-top: 100px;
    width: 150px;
  }
}
